output
.vscode/
/target
/static
vmlinux.h
landscape-ebpf/src/bpf/vmlinux.h

# docker build dir
dockerfiles/redirect_prog/apps
redirect_server*
dockerfiles/landscape/.landscape-router
dockerfiles/landscape/apps
push_*.sh
net.sh
*.sqlite
*.sqlite-*

# pcaps
*.pcap
*.cap

# Node
node_modules/
landscape-types/.bindings.lock

# Local environment
.env
