:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.n-drawer {
  max-width: 100vw;
}

@media (max-width: 768px) {
  .n-drawer {
    width: 90vw !important;
  }
}
